@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Nimbus Sans Novus W01 Regular';
    src: url(/fonts/Nimbus\ Sans\ Novus\ W01\ Regular.woff2) format('woff2');
    font-weight: 400; 
    font-style: normal; 
  }
  @font-face {
    font-family: 'Ravensara Antiqua Stencil Light';
    src: url(/fonts/Ravensara\ Antiqua\ Stencil\ Light.woff2) format('woff2');
    font-weight: 300; 
    font-style: normal; 
  }

  ::selection {
    color: #f9f9f9;
    background: #597EA4;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    transition: all 0.3s;
  }

  body:hover > #pointer {
    @apply opacity-100;
  }

  @layer components {
    .outline-custom {
      @apply focus-visible:outline-4 focus-visible:-outline-offset-4 focus-visible:outline focus-visible:outline-primary;
    }
  }
}

html {
  scroll-margin-top: 300px;
  scroll-padding-top: 300px;
}
